* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* width: 100%; */
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 10px;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  margin-right: 20px;
}

.image {
  width: 100%;
}

.con-title {
  margin-top: 20px;
  font-size: 18px;
}

.producer {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.descrip {
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 50px;
}

.first-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.first-flex * {
  width: 100%;
}

.second-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.second-flex * {
  width: 100%;
}

.third-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.third-flex * {
  width: 100%;
}

.flex {
  display: flex;
  color: black;
  font-size: 9px;
  padding: 20px;
}
